* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root {
  /* Brand Colors */
  --brand-color-1: #ffcda3;
  --brand-color-2: #fce2ce;
  --brand-color-3: #ffede5;
  --brand-color-4: #fff5ef;
  --brand-color-5: #222831;
  /* System Colors */
  --primary-blue: #46bcf2;
  --success-green: #16c79a;
  --danger-red: #ef4f4f;
  --warning-yellow: #f6c065;
  --info-darkblue: #008891;
  /* Greyscale */
  --grey-900: #101010;
  --grey-700: #484848;
  --grey-400: #9a9a9a;
  --grey-100: #999999;
  /* Fonts */
  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: black;
}
/* 
==========
Util classes
==========
*/
.btn {
  border: none;
  background: var(--grey-900);
  padding: 12px 20px;
  border-radius: 10px;
  color: white;
}
.section-center {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 1rem;
}
.section-title {
  font-size: 36px;
  font-family: var(--main-font);
  font-weight: 600;
}

/* 
==========
Header
==========
*/
.header {
  padding: 1rem;
  /* background-color: red; */
  background: transparent;
  z-index: 300;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-right: 15px;
}
.header button {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 600;
}
/* 
==========
Navbar
==========
*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
}
.mobile-btn {
  display: none;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .nav-right {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
}
/* 
==========
Hero section
==========
*/
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero-text p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 22.63px;
  padding-right: 1rem;
}
.hero-content button {
  font-family: var(--secondary-font);
  font-weight: 600;
  background: var(--brand-color-1);
  color: var(--grey-900);
}
.hero-content span {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--grey-400);
}
.hero-heading {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 32px;
}
.post-info {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 829px) {
  .hero-img-container {
    display: none;
  }
}

/* 
==========
Thumbnail section
==========
*/
.thumbnail-section {
  margin-top: 64px;
}
.thumbnail-content {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 30px;
}

.thumb-card {
  display: flex;
  align-items: center;
}
.thumb-text {
  display: flex;
  justify-content: center;

  flex-direction: column;
  padding-left: 12.64px;
}
.thumb-text h3 {
  line-height: 20px;
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--secondary-font);
}
.thumb-text span {
  margin-top: 13px;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--grey-400);
}
@media screen and (max-width: 926px) {
  .thumbnail-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* 
==========
Trending section
==========
*/
.trending-section {
  margin-top: 116px;
}
.trending-card-container {
  margin-top: 53px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  place-items: center;
}
@media screen and (max-width: 1176px) {
  .trending-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .trending-card-container {
    grid-template-columns: 1fr;
  }
}
.trending-card {
  border-radius: 3%;
  position: relative;
  box-shadow: -2px 5px 15px 5px rgba(0, 0, 0, 0.27);
}
.trending-card img {
  width: 100%;
  object-fit: contain;
}
.trending-btn {
  position: absolute;
  top: 21px;
  left: 23px;
  border-radius: 10px;
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: #ffffff;
  padding: 10px 16px;
}
.trending-text {
  padding: 32px;
}
.trending-text span {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--grey-400);
}
.trending-text p {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--secondary-font);
  padding-top: 8px;
  line-height: 20px;
}
.green {
  background: var(--success-green);
}
.yellow {
  background: var(--warning-yellow);
}
.light-blue {
  background: var(--primary-blue);
}
.red {
  background: var(--danger-red);
}
.dark-blue {
  background: var(--info-darkblue);
}
.grey {
  background: var(--grey-900);
}
/* 
==========
Editor section
==========
*/
.editor-section {
  margin-top: 66px;
}
.editor-section h3 {
  margin-bottom: 30px;
}
.editor-content {
  background: var(--brand-color-3);
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}
.editor-content button {
  font-family: var(--secondary-font);
  font-weight: 600;
  background: var(--brand-color-1);
  color: var(--grey-900);
}

.editor-content span {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--grey-400);
}
.editor-heading {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 32px;
}
.editor-text p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 22.63px;
  padding-right: 1rem;
}
.editor-img {
  border-radius: 8px;
  object-fit: cover;
}
@media screen and (max-width: 829px) {
  .editor-img-container {
    display: none;
  }
  .editor-content button {
    margin-top: 1rem;
  }
}
/* 
==========
Recent section
==========
*/
.recent-section {
  margin-top: 96px;
  margin-bottom: 8px;
}

.recent-section span {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 24px;
  color: var(--grey-400);
}
.recent-content {
  margin-top: 52px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.recent-card {
  border-radius: 10px;
  box-shadow: -2px 5px 15px 5px rgba(0, 0, 0, 0.27);
}
.recent-card-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 30px;
}
/* shirk text at smaller screens */
.recent-card-content {
  padding: 30px;
}

.recent-card-content h3 {
  margin-top: 8px;
  line-height: 30px;
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 24px;
}
@media screen and (max-width: 829px) {
  .recent-content {
    grid-template-columns: 1fr;
  }
}
/* 
==========
Instagram section
==========
*/
.instagram-section {
  background-color: var(--brand-color-3);
  padding-bottom: 200px;
}
.insta-logo {
  padding-top: 2rem;
  margin-top: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insta-logo span {
  color: var(--grey-400);
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  padding-left: 8px;
}

.insta-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.insta-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  /* place-items: center; */
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .insta-content {
    grid-template-columns: 1fr;
    place-items: center;
    padding-top: 15px;
  }
  .insta-heading {
    display: none;
  }
}
.insta-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 30px 30px 0px 30px;
  background-color: white;
}
.insta-img {
  object-fit: cover;
  border-radius: 10px;

  width: 100%;
}
/* .insta-card-content {
  display: flex;
  align-items: center;
} */
.insta-info {
  font-family: var(--secondary-font);
  padding-bottom: 30px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.insta-text {
  padding-left: 9px;
  display: flex;
  flex-direction: column;
}
.insta-text :first-child {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 600;
}
.insta-text span + span {
  color: var(--grey-400);
}

/* 
==========
subscribe section
==========
*/
.subscribe-section {
  background-color: var(--brand-color-3);
  padding-bottom: 200px;
}
.subscribe-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .subscribe-section {
    padding-bottom: 3rem;
  }

  .subscribe-content {
    grid-template-columns: 1fr;
  }
  .subscribe-col-R {
    display: none;
  }
  form {
    flex-direction: column;
  }
  input {
    margin-bottom: 1rem;
  }
}
.subscribe-subheading {
  display: flex;
  align-items: center;
}
.subscribe-subheading span {
  color: var(--grey-400);
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}
.subscribe-heading {
  font-family: var(--main-font);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}

form {
  display: flex;
}
input {
  border-radius: 10px;
  border: none;
  padding: 15px;
  width: 100%;
  margin-right: 10px;
}
.sub-btn {
  padding: 24px 35px;
}
/* 
==========
Footer section
==========
*/
.footer {
  background: var(--brand-color-5);
}

.footer-header {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* align-items: center; */
  margin-top: 3rem;
  gap: 3rem;
  /* justify-content: center; */
}
@media screen and (max-width: 910px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}
.footer-content h3 {
  color: white;
  margin-bottom: 30px;
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 22px;
}
.footer-content h4 {
  font-weight: 700;
  font-size: 18px;
}
.footer-content span {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
}
/* .footer-content div {
  /* text-align: left; */
/* flex: 33.33333%; */
/* width: 33.333%; */
/* display: flex;
  flex-direction: column; 
} */
.footer-about p {
  font-family: var(--secondary-font);
  color: white;
  font-weight: 400;
  line-height: 24px;
  max-width: 320px;
  margin-bottom: 1.75rem;
  font-size: 18px;
}
.about-address,
.about-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--grey-400);
  margin-bottom: 18px;
}
.footer-links a {
  color: #f2f2f2;
}
.footer-links ul {
  display: flex;
  flex-direction: column;
  /* gap: 48px; */
  font-weight: 400;
  font-size: 16px;
  font-family: var(--secondary-font);
  color: #f2f2f2;
}
.footer-links li {
  margin-bottom: 20px;
}
.tags-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-transform: capitalize;
  gap: 16px;
}
@media screen and (max-width: 430px) {
  .tags-container {
    grid-template-columns: 1fr;
  }
}
.tag {
  background-color: var(--grey-700);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 25px;
  border-radius: 10px;
  color: #e0e0e0;
  font-family: var(--secondary-font);
  font-weight: 600;
  transition: 300ms;
}
.tag:hover {
  background-color: var(--grey-900);
}
