* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
:root {
  /* Brand Colors */
  --brand-color-1: #ffcda3;
  --brand-color-2: #fce2ce;
  --brand-color-3: #ffede5;
  --brand-color-4: #fff5ef;
  /* System Colors */
  --primary-blue: #46bcf2;
  --success-green: #16c79a;
  --danger-red: #ef4f4f;
  --warning-yellow: #f6c065;
  --info-darkblue: #008891;
  /* Greyscale */
  --grey-900: #101010;
  --grey-700: #484848;
  --grey-400: #9a9a9a;
  --grey-100: #999999;
  /* Fonts */
  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Source Sans Pro', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
/* 
==========
Util classes
==========
*/
.btn {
  border: none;
  background: var(--grey-900);
  padding: 12px 20px;
  border-radius: 10px;
  color: white;
}
.section-center {
  margin: 0 auto;
  max-width: 1170px;
}
/* 
==========
Header
==========
*/
.header {
  padding: 1rem;
  /* background-color: red; */
  background: transparent;
  z-index: 300;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-right: 15px;
}
.header button {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 600;
}
/* 
==========
Navbar
==========
*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
}
.mobile-btn {
  display: none;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .nav-right {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
}
/* 
==========
Hero section
==========
*/
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.hero-text {
  padding: 12px;
}
.hero-text p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 22.63px;
}
.hero-content button {
  font-family: var(--secondary-font);
  font-weight: 600;
  background: var(--brand-color-1);
  color: var(--grey-900);
}
.hero-content span {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--grey-400);
}
.hero-heading {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 32px;
}
.post-info {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 829px) {
  .hero-img-container {
    display: none;
  }
}
